<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <title>Multi user type</title>
</head>

<body>
    {% block header %}
    <div class="bg-dark text-white text-center p-2">
        <h1 class="display-3"><a href="{% url 'home:home' %}">Multi user types</a></h1>
    </div>
    {% endblock %}

    <div class="p-5 text-center">
        {% block content %} {% endblock %}
    </div>
</body>

</html>