<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Index page</title>
</head>
<body>
    <div class="jumbotron">
            <h1>This is the Index page!</h1>
            {% if user.is_authenticated %}
            <h2>Your name is {{ user.username }}</h2>
            {% else %}
            <h2>You are not logged in.</h2>
            {% endif %}
    </div>
</body>
</html>